footer {
    background-color: #8442ff;
    color: white;
    padding: 40px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
  
.contenedor-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: flex-start; 
}
  
.footer-section {
    flex: 1;
    margin: 20px;
}
  
.footer-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
}
  
.footer-section ul {
    list-style: none;
    padding: 0;
}
  
.footer-section ul li {
    margin: 8px 0;
}
  
.newsletter-section {
    flex: 2;
    margin: 20px;
    max-width: 400px;
}
  
.newsletter-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
}
  
.newsletter-section form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px; 
}
  
.newsletter-section input {
    padding: 10px;
    flex: 1;
    border: none;
    border-radius: 4px;
}
  
.newsletter-section button {
    padding: 10px 20px;
    background-color: #3f3f3f;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.newsletter-section button:hover {
    background-color: #a1a1a1;
}
  
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid #333;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px 0 20px; 
}
  
.footer-bottom p {
    margin: 0;
    font-size: 14px; /
}
  
.social-icons {
    display: flex;
    align-items: center;
}
  
.social-icons i {
    margin-left: 15px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}
  